<h1>Publisher</h1>
<button mat-raised-button color="primary" id="add" (click)="onAddPublisher()">Publisher hinzufügen</button>
<div class="container" *ngIf="publishers">
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let publisher of publishers" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{publisher.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{publisher.country}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{publisher.description}}
      <div class="btnContainer">
        <button mat-raised-button color="primary" (click)="onEditPublisher(publisher)">{{publisher.name}} bearbeiten</button>
        <button mat-raised-button color="warn" (click)="onDelete(publisher)">{{publisher.name}} löschen</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="container" *ngIf="currentPublisher">
  <mat-card class="publisherSingleCard">
    <mat-card-header>
      <mat-card-title>
        {{currentPublisher.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{currentPublisher.description}}</p>
    </mat-card-content>
  </mat-card>
</div>

