<div class="engineDialogHeader">
  <h2 mat-dialog-title *ngIf="currentEngine.name.length > 0">{{currentEngine.name}} bearbeiten</h2>
  <h2 mat-dialog-title *ngIf="currentEngine.name.length === 0">Game Engine hinzufügen</h2>
  <mat-icon (click)="onCloseDialog(false)">close</mat-icon>
</div>
<mat-dialog-content>
  <form #editForm="ngForm" id="editForm" (ngSubmit)="onUpdateEngine()">
    <mat-form-field appearance="outline">
      <mat-label>Engine Name</mat-label>
      <label>
        <input matInput type="text" name="name" [ngModel]="currentEngine.name" required>
      </label>
      <mat-error *ngIf="editForm.invalid">Name darf nicht leer sein</mat-error>
    </mat-form-field>
    <button [disabled]="!editForm.dirty || !editForm.valid" mat-raised-button color="primary"
            type="submit">{{currentEngine.gameEngineId > 0 ? 'speichern' : 'hinzufügen'}}</button>
  </form>
</mat-dialog-content>

