<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()" routerLink="/game" routerLinkActive="active">
    <mat-icon>games</mat-icon> <span class="nav-caption">Game</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()" routerLink="/konsolen" routerLinkActive="active">
    <mat-icon>videogame_asset</mat-icon> <span class="nav-caption">Konsolen</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()" routerLink="/publisher" routerLinkActive="active">
    <mat-icon>business</mat-icon><span class="nav-caption">Publisher</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()" routerLink="/genre" routerLinkActive="active">
    <mat-icon>extension</mat-icon><span class="nav-caption">Genre</span>
  </a>
</mat-nav-list>
