a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: crimson;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
}
mat-icon {
  color: red;
}
.active {
  background-color: dimgrey;
  color: whitesmoke;
  border-bottom: 2px solid red;
}
