.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.consoleCard {
  width: 450px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px #888888;
  border: 2px solid black;
}

.consoleCard img {
  height: 180px;
  width: auto;
}
.pictureContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.release {
  text-align: center;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
mat-panel-title {
  display: flex;
  justify-content: center;
}
.singleConsoleCard {
  width: 600px;
  box-shadow: 10px 10px #888888;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
}
