<div class="plattformDialogHeader">
  <h2 *ngIf="plattform.name.length > 0" mat-dialog-title>{{plattform.name}} bearbeiten</h2>
  <h2 *ngIf="plattform.name.length === 0" mat-dialog-title>Genre hinzufügen</h2>
  <mat-icon (click)="onCloseDialog(false)">close</mat-icon>
</div>
<mat-dialog-content>
  <form #editForm="ngForm" (ngSubmit)="onUpdatePlattform()" id="editForm">
    <mat-form-field appearance="outline">
      <mat-label>Konsole Name</mat-label>
      <label>
        <input [ngModel]="plattform.name" matInput name="name" required type="text">
      </label>
      <mat-error *ngIf="editForm.invalid">Name darf nicht leer sein</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bild link</mat-label>
      <label>
        <input [ngModel]="plattform.photoUrl" matInput name="photoUrl" required type="text">
      </label>
      <mat-error *ngIf="editForm.invalid">Bild link darf nicht leer sein</mat-error>
    </mat-form-field>
    <ejs-datepicker [firstDayOfWeek]="1" [ngModel]="plattform.release" [openOnFocus]="true" [value]="plattform.release"
                    format="dd.MM.yyyy" name="release" placeholder="Veröffentlichung"
                    width="40%"></ejs-datepicker>
    <mat-form-field appearance="outline">
      <mat-label>Hersteller</mat-label>
      <label>
        <input [ngModel]="plattform.producer" matInput name="producer" required type="text">
      </label>
      <mat-error *ngIf="editForm.invalid">Hersteller darf nicht leer sein</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <label>
          <textarea [ngModel]="plattform.description" cols="40" matInput name="description" required
                    rows="15"></textarea>
      </label>
      <mat-error *ngIf="editForm.invalid">Beschreibung darf nicht leer sein</mat-error>
    </mat-form-field>
    <button [disabled]="!editForm.dirty || !editForm.valid" color="primary" mat-raised-button
            type="submit">{{plattform.plattformId > 0 ? 'speichern' : 'hinzufügen'}}</button>
  </form>
</mat-dialog-content>

